extends sign-in-options

block signInForm
    form(action='/auth/sign-in-regularUser', method='post')
        div
            label Username:
                input(type='text', name='username')
            label Password:
                input(type='password', name='password')
            button(class= 'btn btn-success')
                | Sign in