extends ../shared/_layout

block app-title
    title EasyPeasyShop: Sign in

block scripts
    script(src="/public/js/validators/login-validator.js")

block content
    != messages('flashMessages/flashMessages', locals)
    .modal-dialog
        .modal-content
            .modal-header
                h3.text-center Login
            .modal-body
                .wrapper
                    form#userSignInForm(action='/auth/sign-in', method='post')
                        .form-group
                            .input-group#usernameInputGroup
                                span.input-group-addon
                                    i.glyphicon.glyphicon-user
                                input.form-control.input-lg(type='text', placeholder='Username', name='username')
                        .form-group
                            .input-group#passwordInputGroup
                                span.input-group-addon
                                    i.glyphicon.glyphicon-lock
                                input.form-control.input-lg(type='password', placeholder='Password', name='password')
                        .form-group
                            input.btn.btn-block.btn-lg.btn-primary(type='submit', value='Login')
                            span.pull-right
                                | You don't have an account?
                                a(href='sign-up/')   Register
