extends ../shared/_layout

block app-title
    title EasyPeasyShop: Sign in

block scripts


block content
    .container-fluid
        .row
            .text-center
                a.btn.btn-primary(href='/auth/sign-in-regularUser') SignIn as regular user
                a.btn.btn-primary(href='/auth/sign-in-proUser') SignIn as pro user

    block signInForm