extends ../shared/_layout

block content
    .container-fluid
        .row
            .text-center
                a.btn.btn-primary(href='/sign-up/sign-up-regularUser') Register a new regular user
                a.btn.btn-primary(href='/sign-up/sign-up-proUser') Register a new pro user

    block signUpForm