/*--Bootstrap extension--*/

body {
    background-image: url('../images/background.jpg');
    background-size:cover;
    padding-top: 70px;
    color: white;
}

.navbar {
    font-size: 16px !important;
}

.modal-content {
    background-color: lightgrey;
    color: black;
}

/*--End of Bootstrap extension--*/

#slogan {
    margin-top: 15%;
    margin-left: 20%;
}

#homePage-header {
    text-align: center;
}

select {
    color: black; !important;
}

#discover-btn {
    text-align: center;
    margin-top: 2%;
    margin-left: 48%;
}

#myTripshops, #allTripshops, #myShopsInfo {
    color: black;
}

#headerUsername {
    background-color: lightslategrey;
    border-radius: 5px;
}

#ordersContainer {
    border-radius: 5px;
}

#buyerUsername {
    background-color: lightgray;
}

#noTrips, #noTripshops {
    color: white;
 }