extends _navigation

block autorized-nav-links
    li.active
        a(href="/profile") Profile Shop

block auth-options
    ul.nav.navbar-nav.navbar-right
        li
            a(href="/auth/sign-in-options")
                span.glyphicon.glyphicon-shopping-cart= ' ' + user.username
        li
            a(href="/auth/logout-proUser")
                span.glyphicon.glyphicon-log-out  LogOut

