header
    nav.navbar.navbar-inverse
        .container-fluid
            .navbar-header
                a.navbar-brand(href="/") EasyPeasyShop
            ul.nav.navbar-nav
                li.active
                    a(href="/") Home
                li.active
                    a(href="/map") Map
                block autorized-nav-links
            block auth-options
                ul.nav.navbar-nav.navbar-right
                    li
                        a(href="/auth/sign-in-options")
                            span.glyphicon.glyphicon-log-in  Sign In
                    li
                        a(href="/sign-up/sign-up-options")
                            span.glyphicon.glyphicon-pencil  Sign Up