extends _navigation

block autorized-nav-links
    li
        a(href="/tripshops") MyTripshops
    li
        a(href="/tripshops/findTripshop") Find Tripshops

block auth-options
    ul.nav.navbar-nav.navbar-right
         li
            a(href="/profile")
                span.glyphicon.glyphicon-user= ' ' + user.username
         li
            form(action='basket', method='post')
            a#loadShoppingCart(type= 'submit')
                span.glyphicon.glyphicon-shopping-cart
         li
            a(href="/auth/logout")
                span.glyphicon.glyphicon-log-out  LogOut

block additionalBottomScripts
    script(src="/public/js/loadBasketItems.js")