extends _navigation

block autorized-nav-links
    li.active
        a(href="/shop/my-shops") My shops

block auth-options
    ul.nav.navbar-nav.navbar-right
        li
            a(href="/profile")
                span.glyphicon.glyphicon-shopping-cart= ' ' + user.username
        li
            a(href="/auth/logout")
                span.glyphicon.glyphicon-log-out  LogOut

