extends _navigation

block autorized-nav-links
    li.active
        a(href="/profile") Profile User

block auth-options
    ul.nav.navbar-nav.navbar-right
        li
            a(href="/auth/sign-in-options")
                span.glyphicon.glyphicon-user= ' ' + user.username
        li
            a(href="/auth/logout-regularUser")
                span.glyphicon.glyphicon-log-out  LogOut