extends ../shared/_layout

block app-title
    title EasyShop: Add new shop

block scripts
    script(src="/libs/jquery/dist/jquery.js")
    script(src="/libs/jquery-validation/dist/jquery.validate.js")
    script(src="/public/js/validators/shop-validator.js")

block content
    section#contact
        .section-content.text-center
            h1.section-header
                | Create new shop
        .contact-section
            .container
                form#shopForm(action='/shop/add-shop', method='post')
                    .col-md-6.form-line
                        .form-group
                            label#shopLabel(for='name') Shop name
                            input.form-control(type='text', id='name', name='name', placeholder='ex: "Billa"')
                        .form-group
                            label#addressLabel(for='address') Address
                            input#address.form-control(type='text', name='address', placeholder='ex: "74 Aleksandar Malinov Sofia Bulgaria"')
                        .form-group
                            label#emailLabel(for='email') Email
                            input#email.form-control(type='email', name='email', placeholder='ex: "billa@gmail.com"')
                    .col-md-6
                        .form-group
                            label#mobileLabel(for='tel') Mobile No.
                            input#tel.form-control(type='tel', name='mobile', placeholder='ex: 0896716622')
                        .form-group
                            label#descriptionLabel(for='description')  Description
                            textarea#description.form-control(name='description', placeholder='Short description, slogan')
                        div
                            input.btn.btn-block.btn-lg.btn-primary(type='submit', value='Create')
        != messages('flashMessages/flashMessages', locals)