extends ../shared/_layout

block app-title
    title EasyShop: MyShops

    block scripts
        link(rel="stylesheet", href="/public/css/edit-form.css")

block content
    if shops.length > 0
        .text-center
            a.btn.btn-lg.btn-primary(href='/shop/add-shop') Add shop
            != messages('flashMessages/flashMessages', locals)
        .row
            each shop in shops
                .col-md-4.thumbnail
                    img.img-responsive(src='http://placehold.it/700x400', alt='')
                    h3.text-center
                        a(href='/shop/' + shop._id)=shop.name
                    p.text-center= shop.description
                    ul.list-group.list-group-flush
                        li.list-group-item
                            strong Number of Products:
                            if shop.products
                                span=   shop.products.length
                            else
                                span  0
                        li.list-group-item
                            strong Email:
                            span=  shop.email
                        li.list-group-item
                            strong Address:
                            span=  shop.address
                        li.list-group-item
                            strong Mobile:
                            span=  shop.mobile
                    .text-center
                        button.btn.btn-primary.btnEditShop(data-toggle='modal', data-target='#shopEdit' shopid= shop._id) Edit
                        button.btn.btn-danger.delShopBtn(shopid= shop._id) Delete

            #shopEdit.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modalLabel', aria-hidden='true')
                .modal-dialog
                    .modal-content
                        .modal-header
                            button.close(type='button', data-dismiss='modal')
                                span(aria-hidden='true') ×
                                span.sr-only Close
                            h3#lineModalLabel.modal-title Edit shop info
                        .modal-body
                            form#shopForm
                                .form-group
                                    label#shopLabel(for='editName') Name
                                    input#editName.form-control(type='name', name='name')
                                .form-group
                                    label#addressLabel(for='editAddress') Address
                                    input#editAddress.form-control(type='text', name='address')
                                .form-group
                                    label#emailLabel(for='editEmail') Email
                                    input#editEmail.form-control(type='email', name='email')
                                .form-group
                                    label#mobileLabel(for='editMobile') Mobile
                                    input#editMobile.form-control(type='text', name='mobile')
                                .form-group
                                    label#descriptionLabel(for='editDescription') Description
                                    input#editDescription.form-control(type='text', name='description')
                                button#submitEditShop.btn.btn-success(type='submit') Save
    else
        .container
            != messages('flashMessages/flashMessages', locals)
            h3 You dont have any registered shops
            a.btn.btn-lg.btn-primary(href='/shop/add-shop') Add shop

block additionalBottomScripts
    script(src="/libs/bootstrap/js/modal.js")
    script(src="/public/js//modals/shopEdit-Modal.js")
    script(src="/public/js/validators/shop-validator.js")


