extends ../shared/_layout

block app-title
    title EasyShop: MyShops


block content
    if user.shops.length > 0
        a.btn.btn-lg.btn-primary(href='/shop/add-shop') Add shop
        .row
            each shop in user.shops
                .col-md-4.thumbnail
                    img.img-responsive(src='http://placehold.it/700x400', alt='')
                    h3
                        a(href='/shop/' + shop.id)= shop.name
                    p= shop.description
                    ul.list-group.list-group-flush
                        li.list-group-item
                            strong Number of Products:
                            span=   shop.products.length
                        li.list-group-item
                            strong Email:
                            span=  shop.email
                        li.list-group-item
                            strong Address:
                            span=  shop.address
                    .text-center
                        a.btn.btn-primary(href='#') Edit
                        a.btn.btn-danger(href='#') Delete












    else
        .container
            h3 You dont have any registered shops
            a.btn.btn-lg.btn-primary(href='/shop/add-shop') Add shop




block additionalBottomScripts

