doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        block app-title
        link(rel="stylesheet", href="/libs/bootstrap/dist/css/bootstrap.css")
        link(rel="stylesheet", href="/public/css/main.css")
        block scripts
    body
        if user
            if user.isRegularUser
                include ../partials/_navigation-logedIn-User
            else
                include ../partials/_navigation-logedIn-Shop
        else
            include  ../partials/_navigation

    block content

    block additionalBottomScripts


