doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        block app-title
        link(rel="stylesheet", href="/libs/bootstrap/dist/css/bootstrap.css")
        link(rel="stylesheet", href="/public/css/main.css")
        block scripts
    body
        nav(class="navbar navbar-default")
            div(class="container-fluid")
                div(class="navbar-header")
                        ul(class="nav navbar-nav")
                            li(class="active")
                                a(href="/") EasyPeasyShop
                            li(class="active")
                                a(href="/map") Map
                            li(class="active")
                                a(href="/auth/sign-in") Sign in
                            li(class="active")
                                a(href="/auth/sign-inPro") Sign inPro
                            li(class="active")
                                a(href="#") Section 3

    block content

    block additionalBottomScripts


