.col-md-3.col-sm-6.hero-feature
    .thumbnail
        img(src='http://placehold.it/800x500', alt='')
        .caption
            h3 #{product.name}
            h5 Price: #{product.price} lv.
            h5 Weight: #{product.weight} gr.