extends ../shared/_layout

block app-title
    title EasyShop: Add new product

block scripts
    link(rel="stylesheet", href="/public/css/addingForms.css")

block content
    section#contact
        .section-content.text-center
            h1.section-header
                | Add new product to #{shop.name}
        .contact-section
            .container
                form(action='/shop/' + shop.id + '/product/add-product', method='post')
                    .col-md-6.form-line
                        .form-group
                            label(for='name') Product name
                            input.form-control(type='text', id='name', name='name', placeholder='Product name')
                        .form-group
                            label(for='price') Price
                            input.form-control(type='text', id='price', name='price', placeholder='Price')
                    .col-md-6.form-line
                        .form-group
                            label(for='weight') Weight
                            input.form-control(type='text', id='weight', name='weight', placeholder='Weight')
                        div
                            input.btn.btn-block.btn-lg.btn-primary(type='submit', value='Add')
