extends ../shared/_layout

block app-title
    title EasyShop: Add new product

block scripts
    script(src="/public/js/validators/product-validator.js")

block content
    section#contact
        .section-content.text-center
            h1.section-header
                | Add new product to #{shop.name}

        .contact-section
            .container
                form#productForm(action='/shop/' + shop._id+ '/add-product', method='post')
                    .col-md-6.form-line
                        .form-group
                            label#nameLabel(for='name') Product name
                            input.form-control(type='text', id='name', name='name', placeholder='Product name')
                        .form-group
                            label#priceLabel(for='price') Price
                            input.form-control(type='text', id='price', name='price', placeholder='Price')
                    .col-md-6.form-line
                        .form-group
                            label#weightLabel(for='weight') Weight
                            input.form-control(type='text', id='weight', name='weight', placeholder='Weight')
                        div
                            input.btn.btn-block.btn-lg.btn-primary(type='submit', value='Add')
        != messages('flashMessages/flashMessages', locals)
