doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        block app-title
        link(rel="stylesheet", href="../../node_modules/bootstrap/dist/css/bootstrap.min.css")
    body
       h1 Main Layout
        .content.container
            block content




