extends shared/_layout

block app-title
    title EasyShop: Welcome

block content
    != messages('flashMessages/flashMessages', locals)
    #slogan.row
        .col-4
            h1.text-center Easy peasy
        .col-3
            a#discover-btn.btn.btn-success.btn-lg(href='/map') click
        .col-4.text-center
            h1 and shop!
