extends shared/_layout

block app-title
    title EasyShop: Welcome

block content
    != messages('flashMessages/flashMessages', locals)
    .row.align-middle
        .col-12
            h1.text-center.center-block
                | Easy peasy, click and shop!
            h1.text-center
                | The modern platform for shared shopping!
            a#discover-btn.btn.btn-success.btn-lg(href='/map')
                | Explore