extends shared/_layout

block app-title
    title EasyShop: Welcome

block content
    .row
        .col-12
            h1#homePage-header
                | Something as a slogan and background image
            a#discover-btn.btn.btn-success.btn-lg(href='/map')
                | Explore

