extends shared/_layout

block app-title
    title EasyShop: Map

block content
    if user
        .row
            #map

    else
        .text-center
            .row
                .col-xs-12
                    h3 You can find more than 100 shops
                    h3 and more than 250 tripshops on our map
                    h3 but u have to Sign in ->
                        span
                            a(href='/auth/sign-in-options')  Sign in
                    h3 Still don't have an Account ->
                        span
                            a(href='/sign-up/sign-up-options')  Sign up


block additionalBottomScripts
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB1WIiqdxhH_jhZrN1W7cQswvajNuWOVvQ")
    script(src="/public/js/mapping.js")

