extends ./shared/_layout

block app-title
    title EasyShop: Unauthorized access

block content
    .container
        .jumbotron
            .text-center
                i.fa.fa-5x.fa-frown-o(style='color:#d9534f;')
            h2.text-center.text-danger
                | Access denied!
                p
                p.text-danger You are not authorized
            p.text-center
                a.btn.btn-primary(href='/')
                    i.fa.fa-home
                    |  Take Me Home
