extends ./shared/_layout

block app-title
    title EasyShop: Unauthorized access

block content
    .container
        .row
            .col-md-12.text-center
                .container
                    h1 401
                    h2.text-center
                        |  Unauthorized User

