extends ../shared/_layout

block app-title
    title EasyShop: Map

block content
    .text-center
        h2 On the map you can find all registered shops and all available tripshops.
        h2.text-danger Red pins will reveal shops info
        span
        h2.text-success Green pins will reveal tripshops info
    .row
        #map


block additionalBottomScripts
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB1WIiqdxhH_jhZrN1W7cQswvajNuWOVvQ")
    script(src="/public/js/mapping.js")

