extends ../shared/_layout

block content
    .row.text-center
        .col-xs-12
            h3 You can find
                if shops.length ===! 1
                    strong  #{shops.length} shops
                else
                    strong  #{shops.length} shop
                |  and
                if tripshops.length ===! 1
                    strong  #{tripshops.length} tripshops
                else
                    strong  #{tripshops.length} tripshop
                |   on our map
            h3 but u have to Sign in ->
                span
                    a(href='/auth/sign-in')  Sign in
            h3 Still don't have an Account ->
                span
                    a(href='/auth/sign-up')  Sign up